<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Administrador
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item"><a class="nav-link" href="{% url 'listar_usuarios' %}">Listar Usuarios</a></li> <!--aca no conviene decir "Gestionar usuarios"?-->
        <li class="nav-item"><a class="nav-link" href="{% url 'listar_categorias' %}"> Gestionar Categorías </a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'ver_metricas_filiales' %}"> Ver Métricas Filiales </a></li>
        <li class="nav-item"><a class="nav-link" href=""> -- </a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Cerrar sesión</a>
</li>
