<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Moderador
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item"><a class="nav-link" href="{% url 'ver_intercambios_moderador' %}">Ver intercambios de Filial</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'ver_metricas_filiales' %}"> Ver Métricas mi Filial </a></li>
        <li class="nav-item"><a class="nav-link" href=""> -- </a></li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link" href="/logout">Cerrar sesión</a>
</li>
