<!-- <li><button type="submit"><a href="{% url 'crear_publicacion' %}">Publicar Producto</a></button></li>
    {% if user.is_authenticated %}
    <li><button type="submit"><a href="{% url 'mi_perfil' %}">Mi perfil</a></button></li>
    <li><button type="submit"><a href="/logout">Cerrar sesión</a></button></li>
    {% else %}
    <li><button type="submit"><a href="/register">Registrarse</a></button></li>
    <li><button type="submit"><a href="/login">Iniciar sesión</a></button></li>
    {% endif %} 
    TODO juanse: estos antes eran botones, despues preguntarle a fran por que eran botones, capaz tiene una razon de ser y 
    rompi algo cambiandolos por links <a> 
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">IC LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'crear_publicacion' %}" class="nav-link">Publicar Producto</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'signin' %}" class="nav-link">Publicar Producto</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Mis Intercambios</a>
                    <!-- TODO: yo pondria ver mis intercambios adentro de mi perfil -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'quienes_somos' %}">Quienes Somos</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mi_perfil' %}">Mi perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>