{% extends 'layouts/base.html' %}
{% load static %}
<!-- esto es para que se herede la estructura html y estilos del archivo base -->
{% block content %}
{% include 'layouts/navbar.html' %}
<!-- esto es para que se vea el navbar  -->
<!-- TODO: agregar logica para que solo lo vean los admins -->
<h1 class="text-center custom-h1-bg mb-2">Métricas Intercambios Cáritas</h1>

<!-- Graficos -->

<div class="container">
  <div class="row">
    <div class="col-sm">
      <canvas id="intercambios_mes" widht="200" height="200"></canvas>
    </div>
    <div class="col-sm">
      <canvas id="piechart_intercambios_estado" widht="200" height="200"></canvas>
    </div>
    <div class="col-sm">
      <canvas id="intercambios_totales" widht="200" height="200"></canvas>
    </div>
  </div>
</div>

<!-- Tabla Listado -->
<div class="container mt-8">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
          <table class="table" id="datatable_estadisticas">
            <thead>
              <tr>
                <th class="centered">Filial</th>
                <th class="centered">Fecha</th>
                <th class="centered">Estado</th>
                <th class="centered">Total</th>
              </tr>
            </thead>
            <tbody id="tabla_intercambios"></tbody>
          </table>
        </div>
    </div> 
  </div>
</div>
<!-- Para Data Table -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<!-- Para Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="{% static 'js/stats.js' %}"></script>

{% endblock %}