{% extends 'layouts/base.html' %}
<!-- esto es para que se herede la estructura html y estilos del archivo base -->
{% block title %}Mi Perfil{% endblock %}
<!-- titulo personalizado -->
{% block content %}
{% include 'layouts/navbar.html' %}

<!-- esto es para que se vea el navbar  -->
<h1 class="text-center custom-h1-bg mb-2">Perfil de {{ user.first_name }} {{ user.last_name }}</h1>
<div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <div class="row">
                <div class="col text-left">
                    <a href="{% url 'listar_usuarios' %}" class="btn btn-secondary">Volver</a>
                </div>
                <form action="{% url 'toggle_user_status' user.username %}" method="post" class="col-2 text-right" style="border: 3px dashed #f0f0f0;">
                    {% csrf_token %}
                    <input type="hidden" name="username" id='username' value="{{ user.username }}"> <!-- para traerme el user name -->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="activar_usuario" name="activar_usuario" {% if user.is_active %} checked {% endif %}>
                        <label class="form-check-label" for="activar_usuario">Activo</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">ok</button>
                </form>
            </div>

            <div class="text-center">
                <h2><u>Información General</u></h2>
                <p><b>Nombre:</b> {{ user.first_name }} {{ user.last_name }}</p>
                <p><b>DNI:</b> {{ user.username}}</p>
                <p><b>Fecha Nacimiento:</b> {{ user.nacimiento}}</p>
                <p><b>Fecha de Registro:</b> {{ user.date_joined}}</p>
                <p><b>Rol Actual:</b> {{ user.getRol}}</p>
                {% if user.isModerador %}
                <p><b>Filial a Cargo:</b> {{ user.filial}}</p>
                {% endif %}

                <h2><u>Datos de Contacto</u></h2>
                <p><b>Mail:</b> {{ user.email}}</p>
                <p><b>Dirección:</b> {{ user.direccion}}</p>
                <p><b>Teléfono:</b> {{ user.telefono}}</p>

                <p><b>Estado:</b> {% if user.is_active %} Activo {% else %} Inactivo {% endif %} </p>
            </div>
            <div>
                <form action="{% url 'cambiar_rol' user.username %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="username" id='username' value="{{ user.username }}"> <!--para poder traerme despues el username -->
                    <label class="form-label mb-1" for="rol">Cambiar rol:</label>
                    <select name="rol" id="rol" class="form-select form-select-lg" required>
                        {% if user.isUser %}
                        <option value="Usuario" selected>Usuario (rol actual)</option>
                        <option value="Moderador">Moderador</option>
                        <option value="Administrador">Administrador</option>
                        {% elif user.isModerador %}
                        <option value="Moderador" selected>Moderador (rol actual)</option>
                        <option value="Usuario">Usuario</option>
                        <option value="Administrador">Administrador</option>
                        {% else %}
                        <option value="Administrador" selected>Administrador (rol actual)</option>
                        <option value="Usuario">Usuario</option>
                        <option value="Moderador">Moderador</option>
                        {% endif %}
                    </select>

        
                    <div id="filial-selection" style="display: none;">
                        <label class="form-label mb-1" for="filial-selection">Seleccionar Filial:</label>
                        <select name="filial-selection" id="filial-selection" class="form-select form-select-lg" required>
                            <option value="" disabled selected>Seleccione un sitio</option>
                            {% for choice in user.Filiales.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show m-2 p-1" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close m-0 p-2" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    
                    <button type="submit" class="btn btn-primary btn-block mt-2 p-2">Cambiar rol</button>
                                   
                </form>
            </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var rolSelect = document.getElementById('rol');
        var filialSelection = document.getElementById('filial-selection');
    
        function toggleSiteSelection() {
            if (rolSelect.value === 'Moderador') {
                filialSelection.style.display = 'block';
                filialSelection.querySelector('select').required = true;
            } else {
                filialSelection.style.display = 'none';
                filialSelection.querySelector('select').required = false;
            }
        }
    
        rolSelect.addEventListener('change', toggleSiteSelection);
        
        // Initial call to set the correct state based on the initial value
        toggleSiteSelection();
    });
</script>

{% endblock %}