<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercambios Caritas</title>
</head>

<body>
    </nav>
    <ul>
        <li><button type="submit"><a href="{% url 'home' %}">Inicio/IntercambiosCaritasLogo</a></button></li>

        <!-- por ahora no hacen nada estos 2: -->
        <li><button type="submit"><a href="{% url 'crear_publicacion' %}">Publicar Producto</a></button></li>
        <li><button type="submit"><a href="{% url 'home' %}">Mis Intercambios</a></button></li>
        <!-- por ahora no hacen nada estos 2: -->

        <li><button type="submit"><a href="{% url 'quienes_somos' %}">Quienes Somos</a></button></li>
        {% if user.is_authenticated %}
        <li><button type="submit"><a href="{% url 'home' %}">Mi perfil</a></button></li>
        <li><button type="submit"><a href="/logout">Cerrar sesión</a></button></li>
        {% else %}
        <li><button type="submit"><a href="/register">Registrarse</a></button></li>
        <li><button type="submit"><a href="/login">Iniciar sesión</a></button></li>
        {% endif %}
    </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>