{% extends 'layouts/base.html' %}
{% block title %}Crear Propuesta de Intercambio{% endblock %}
{% block content %}
{% include 'layouts/navbar.html' %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show m-2 p-1" role="alert">
    {{ message }}
    <button type="button" class="btn-close m-0 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<div class="container">
    <h1>Crear Propuesta de Intercambio para "{{ publicacion_demandada.nombre }}"</h1>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="publicacion_ofertante" class="form-label">Producto a ofertar</label>
                {{ form.publicacion_ofertante }}
            </div>
            {% if form.centro_encuentro.field.widget.is_hidden %}
            <div class="col-md-6 mb-3" style="display: flex; align-items: center;">
                <label class="form-label" style="margin-right: 10px;">Centro de Encuentro:</label> <p>{{ form.centro_encuentro.initial }}</p>
            </div>
            {% else %}
            <div class="col-md-6 mb-3" style="display: flex; align-items: center;">
                <label for="centro_encuentro" class="form-label" style="margin-right: 10px;">Centro de Encuentro:</label> {{ form.centro_encuentro }}
            </div>
            {% endif %}
        </div>
        
        
        
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="dias_convenientes" class="form-label">Días Convenientes</label>
                {{ form.dias_convenientes }}
            </div>
            <div class="col-md-4 mb-3">
                <label for="franja_horaria_inicio" class="form-label">Franja Horaria Inicio</label>
                {{ form.franja_horaria_inicio }}
            </div>
            <div class="col-md-4 mb-3">
                <label for="franja_horaria_fin" class="form-label">Franja Horaria Fin</label>
                {{ form.franja_horaria_fin }}
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Crear Propuesta</button>
    </form>
</div>
{% endblock %}
