{% extends 'layouts/base.html' %}
{% block title %}Gestionar Filiales{% endblock %}
{% block content %}
{% include 'layouts/navbar.html' %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show m-2 p-1" role="alert">
    {{ message }}
    <button type="button" class="btn-close m-0 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<h1 class="text-center custom-h1-bg mb-2">Gestionar Filiales</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header text-center">
                    <h2>Lista de Filiales</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% if filiales %}
                        {% for filial in filiales %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ filial.nombre }}
                            <form method="post" style="display:inline;">
                                {% csrf_token %}
                                <input type="hidden" name="filial_id" value="{{ filial.id }}">
                                <button type="submit" name="eliminar_filial" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </li>
                        {% endfor %}
                        {% else %}
                        <p style="font-size: 1.2rem; color: #555; text-align: center; margin-top: 20px;">No hay filiales en
                            este momento.</p>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                    <h2>Agregar Filial</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-center" class="form-group">
                            {{ form.as_p }}
                        </div>
                        <div class="text-center">
                            <button type="submit" name="agregar_categoria" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
