{% extends 'layouts/base.html' %}
<!-- esto es para que se herede la estructura html y estilos del archivo base -->
{% block title %}Publicar Producto{% endblock %}
<!-- titulo personalizado -->

{% block content %}
{% include 'layouts/navbar.html' %}
<div class="d-flex justify-content-center align-items-center flex-grow-1">
    <div class="container py-3">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-10 col-xl-9">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-4">
                        <h1 class="text-center">Intercambios Caritas</h1>
                        <h2 class="mb-3 text-center">Publicar un producto</h2>
                            <form action="" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="publicacion_id" id='publicacion_id' value="{{ publicacion.id }}"> 
                                {{ form.as_p }}
                                 <input type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
{% endblock %}
