{% extends 'layouts/base.html' %}
{% block title %}Ofertas Recibidas{% endblock %}
{% block content %}
{% include 'layouts/navbar.html' %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show m-2 p-1" role="alert">
    {{ message }}
    <button type="button" class="btn-close m-0 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<h1 class="text-center custom-h1-bg mb-2">Ofertas Recibidas</h1>
<ul>
    {% if ofertas_recibidas %}
    {% for oferta in ofertas_recibidas %}
    <li>
        <div class="card text-center">
            <div class="card-header">
                <p>Oferta Recibida:</p>
                {% if oferta.estado == 'PENDIENTE' %}
                    <p>Esperando tu respuesta.</p>
                {% elif oferta.estado == 'ACEPTADA' %}
                    <p>La oferta fue aceptada.</p>
                {% elif oferta.estado == 'RECHAZADA' %}
                    <p>La oferta fue rechazada.</p>
                {% elif oferta.estado == 'CANCELADA' %}
                    <p>La oferta fue cancelada.</p>
                {% endif %}
                <p>Fecha de creación: {{ oferta.fecha_creacion }}</p>
            </div>
            <div class="card-body">
                <div class="row d-flex align-items-center justify-content-end">
                    <div class="col-md-4 text-center">
                        <p>Producto de
                            {{oferta.publicacion_ofertante.usuario.get_full_name}}
                            {{oferta.publicacion_ofertante.usuario}}:</p>
                        <p>{{ oferta.publicacion_ofertante.nombre }}</p>
                        <div class="embed-responsive embed-responsive-4by3 my-2">
                            <img src="{{ oferta.publicacion_ofertante.imagen.url}}" alt=""
                                class="img-fluid embed-responsive-item" style="width: 200px; height: 200px; object-fit: cover;">
                        </div>
                        <a href="{% url 'ver_publicacion' oferta.publicacion_ofertante.id %}"
                            class="btn btn-primary d-block">Ver publicacion</a>
                    </div>
                    <div class="col-md-4 text-center my-2">
                        <p class="my-2 p-2" style="background-color: #f0f8ff">Solicitud de intercambio el dia
                            {{ oferta.fecha_intercambio }} a las {{oferta.franja_horaria}}
                            en la filial {{ oferta.punto_encuentro }}.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <p>Producto de
                            {{oferta.publicacion_demandada.usuario.get_full_name}}
                            {{oferta.publicacion_demandada.usuario}}:
                        </p>
                        <p>{{oferta.publicacion_demandada.nombre}}</p>
                        <div class="embed-responsive embed-responsive-4by3 my-2">
                            <img src="{{ oferta.publicacion_demandada.imagen.url}}" alt=""
                                class="img-fluid embed-responsive-item" style="width: 200px; height: 200px; object-fit: cover;">
                        </div>
                        <a href="{% url 'ver_publicacion' oferta.publicacion_demandada.id %}"
                            class="btn btn-primary d-block">Ver publicacion</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% if oferta.estado == 'PENDIENTE' %}
                <div class="d-flex align-items-center justify-content-center">
                    <form action="{% url 'aceptar_oferta' oferta.id %}" method="post" class="me-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Aceptar ✅</button>
                    </form>
                    <form action="{% url 'rechazar_oferta' oferta.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Rechazar ❌</button>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </li>

    {% endfor %}
    {% else %}
    <p style="font-size: 1.2rem; color: #555; text-align: center; margin-top: 20px;">Usted no recibió ninguna
        oferta</p>
    {% endif %}
</ul>
</div>
{% endblock %}