{% extends 'layouts/base.html' %}
{% block title %}Ofertas Realizadas{% endblock %}
{% block content %}
{% include 'layouts/navbar.html' %}

<div class="container">
    <h1>Ofertas Realizadas</h1>
    <ul>
        {% if ofertas_realizadas %}
        {% for oferta in ofertas_realizadas %}
            <li>
                <div class="row">
                    <div class="col-md-8">
                        <strong>{{ oferta.publicacion_ofertante.nombre }}</strong> ofrecido por <strong>{{ oferta.publicacion_demandada.nombre }}</strong>
                        <p>Centro de encuentro: {{ oferta.centro_encuentro }}</p>
                        <p>Días convenientes: {{ oferta.dias_convenientes }}</p>
                        <p>Franja horaria: {{ oferta.franja_horaria_inicio }} - {{ oferta.franja_horaria_fin }}</p>
                        <p>Fecha de creación: {{ oferta.fecha_creacion }}</p>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-end">
                        <button class="btn btn-danger">Cancelar ✖</button>
                    </div>
                </div>
            </li>
        {% endfor %}
        {% else %}
        <p style="font-size: 1.2rem; color: #555; text-align: center; margin-top: 20px;">Usted no realizó ninguna oferta</p>
        {% endif %}
    </ul>
</div>
{% endblock %}
