{% extends 'layouts/base.html' %}
{% block title %}Intercambios{% endblock %}
{% block content %}
{% include 'layouts/navbar.html' %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show m-2 p-1" role="alert">
    {{ message }}
    <button type="button" class="btn-close m-0 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% if user.isModerador %}
    <h1 class="text-center custom-h1-bg mb-2">Intercambios de filial: {{ user.filial }}</h1>    
{% else %}
    <h1 class="text-center custom-h1-bg mb-2">Mis Intercambios</h1>      
{% endif %}

<ul>
    {% if ofertas_recibidas %}
    {% for oferta in ofertas_recibidas %}
    <li class="mb-3">
        <div class="card text-center">
            <div class="card-header">
                <p>Intercambio: {{ oferta.publicacion_ofertante.nombre }} por {{oferta.publicacion_demandada.nombre}}</p>
                <p>Estado: 
                {% if oferta.estado == 'ACEPTADA' %}
                    Oferta aceptada, intercambio registrado pendiente de realizarse.
                {% elif oferta.estado == 'CONFIRMADA' %}
                    Intercambio realizado. Muchas gracias por intercambiar.
                {% elif oferta.estado == 'DESESTIMADA' %}
                    Intercambio desestimado por moderador. {% if oferta.motivo_desestimacion != 'N/A' %}Motivo: {{oferta.motivo_desestimacion}}{% endif %}
                {% endif %}
                </p>
            </div>
            <div class="card-body">
                <div class="row d-flex align-items-center justify-content-end">
                    <div class="col-md-4 text-center">
                        <p>Producto de
                            {{oferta.publicacion_ofertante.usuario.get_full_name}}:</p>
                        <p>{{ oferta.publicacion_ofertante.nombre }}</p>
                        <div class="embed-responsive embed-responsive-4by3 my-2">
                            <img src="{{ oferta.publicacion_ofertante.imagen.url}}" alt=""
                                class="img-fluid embed-responsive-item" style="width: 200px; height: 200px; object-fit: cover;">
                        </div>
                        <a href="{% url 'ver_publicacion' oferta.publicacion_ofertante.id %}"
                            class="btn btn-primary d-block">Ver publicacion</a>
                    </div>
                    <div class="col-md-4 text-center my-2">
                        {% if oferta.estado == 'ACEPTADA' %}
                        <p class="my-2 p-2" style="background-color: #f0f8ff">Intercambio el dia
                            {{ oferta.fecha_intercambio }} a las {{oferta.franja_horaria}}
                            en la filial {{ oferta.punto_encuentro }}. Te esperamos!!!</p>
                        {% else %}
                        <p class="my-2 p-2" style="background-color: #f0f8ff">Intercambio el dia
                            {{ oferta.fecha_intercambio }} a las {{oferta.franja_horaria}}
                            en la filial {{ oferta.punto_encuentro }}.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center">
                        <p>Producto de
                            {{oferta.publicacion_demandada.usuario.get_full_name}}:
                        </p>
                        <p>{{oferta.publicacion_demandada.nombre}}</p>
                        <div class="embed-responsive embed-responsive-4by3 my-2">
                            <img src="{{ oferta.publicacion_demandada.imagen.url}}" alt=""
                                class="img-fluid embed-responsive-item" style="width: 200px; height: 200px; object-fit: cover;">
                        </div>
                        <a href="{% url 'ver_publicacion' oferta.publicacion_demandada.id %}"
                            class="btn btn-primary d-block">Ver publicacion</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% if user.isModerador %}
                    {% if oferta.estado == 'ACEPTADA' %}
                    <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
                        <form action="{% url 'gestionar_intercambio' oferta.id %}" method="post" class="d-flex align-items-center justify-content-center mx-1" style="width: 80%; gap: 8px; display: flex;">
                            {% csrf_token %}
                            <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
                                <select name="calificacion_demandada" class="form-control mx-1" style="flex: 1;" required>
                                    <option value="" selected disabled>Calificar a {{oferta.publicacion_demandada.usuario.get_full_name}}:</option>
                                    <option value="1">Calificación de {{oferta.publicacion_demandada.usuario.get_full_name}}: 1</option>
                                    <option value="2">Calificación de {{oferta.publicacion_demandada.usuario.get_full_name}}: 2</option>
                                    <option value="3">Calificación de {{oferta.publicacion_demandada.usuario.get_full_name}}: 3</option>
                                    <option value="4">Calificación de {{oferta.publicacion_demandada.usuario.get_full_name}}: 4</option>
                                    <option value="5">Calificación de {{oferta.publicacion_demandada.usuario.get_full_name}}: 5</option>
                                </select>
                                <select name="calificacion_ofertante" class="form-control mx-1" style="flex: 1;" required>
                                    <option value="" selected disabled>Calificar a {{oferta.publicacion_ofertante.usuario.get_full_name}}:</option>
                                    <option value="1">Calificación de {{oferta.publicacion_ofertante.usuario.get_full_name}}: 1</option>
                                    <option value="2">Calificación de {{oferta.publicacion_ofertante.usuario.get_full_name}}: 2</option>
                                    <option value="3">Calificación de {{oferta.publicacion_ofertante.usuario.get_full_name}}: 3</option>
                                    <option value="4">Calificación de {{oferta.publicacion_ofertante.usuario.get_full_name}}: 4</option>
                                    <option value="5">Calificación de {{oferta.publicacion_ofertante.usuario.get_full_name}}: 5</option>
                                </select>
                            </div>
                            <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
                                <select name="donacion_realizada" id="donacion_realizada" class="form-control mx-1" onchange="toggleDescripcionDonacion(this)" required>
                                    <option value="" selected disabled>¿Se realizó una donación?</option>
                                    <option value="No">No hubo donacion en este intercambio</option>
                                    <option value="Si">Se registro donacion en este intercambio</option>
                                </select>
                                <input type="text" name="descripcion_donacion" id="descripcion_donacion" class="form-control mx-1" placeholder="Descripción de la donación" style="display:none;" required>
                                <script>
                                    function toggleDescripcionDonacion(select) {
                                        var descripcion = document.getElementById('descripcion_donacion');
                                        if (select.value === 'Si') {
                                            descripcion.style.display = 'block';
                                        } else {
                                            descripcion.style.display = 'none';
                                        }
                                    }
                                </script>
                            </div>
                            <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
                                <button type="submit" name="accion" value="confirmar_intercambio" class="btn btn-success mx-1" style="flex: 1;">Confirmar</button>
                                <button type="submit" name="accion" value="desestimar_intercambio" class="btn btn-danger mx-1" style="flex: 1;">Desestimar</button>
                                <select name="motivo" id="motivo" class="form-control mx-1" style="flex: 1;" onchange="toggleOtroCampo(this)">
                                    <option value="" selected disabled>-- Motivo --</option>
                                    {% for value, label in oferta.MOTIVOS_DESESTIMACION %}
                                    <option value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" name="motivo_otro" id="motivo_otro" class="form-control mx-1" placeholder="Especifique el motivo" style="flex: 1; display:none;">
                            </div>
                        </form>
                    </div>
                        <script>
                        function toggleOtroCampo(select) {
                            var otroCampo = document.getElementById('motivo_otro');
                            if (select.value === 'Otro') {
                                otroCampo.style.display = 'block';
                            } else {
                                otroCampo.style.display = 'none';
                            }
                        }
                        </script>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
    {% else %}
    <p style="font-size: 1.2rem; color: #555; text-align: center; margin-top: 20px;">No hay intercambios para mostrar.</p>
    {% endif %}
</ul>
</div>
{% endblock %}