{% extends 'layouts/base.html' %}
{% block title %}Intercambios{% endblock %}
{% block content %}
{% include 'layouts/navbar.html' %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show m-2 p-1" role="alert">
    {{ message }}
    <button type="button" class="btn-close m-0 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% if user.isModerador %}
    <h1 class="text-center custom-h1-bg mb-2">Intercambios de filial: {{ user.filial }}</h1>    
{% else %}
    <h1 class="text-center custom-h1-bg mb-2">Mis Intercambios</h1>      
{% endif %}

<ul>
    {% if ofertas_recibidas %}
    {% for oferta in ofertas_recibidas %}
    <li class="mb-3">
        <div class="card text-center">
            <div class="card-header">
                <p>Intercambio: {{ oferta.publicacion_ofertante.nombre }} por {{oferta.publicacion_demandada.nombre}}</p>
                <p>Estado: 
                {% if oferta.estado == 'ACEPTADA' %}
                    Oferta aceptada, intercambio registrado pendiente de realizarse.
                {% elif oferta.estado == 'CONFIRMADA' %}
                    Intercambio realizado. Muchas gracias por intercambiar.
                {% elif oferta.estado == 'DESESTIMADA' %}
                    Intercambio desestimado por moderador. {% if oferta.motivo_desestimacion != 'N/A' %}Motivo: {{oferta.motivo_desestimacion}}{% endif %}
                {% endif %}
                </p>
            </div>
            <div class="card-body">
                <div class="row d-flex align-items-center justify-content-end">
                    <div class="col-md-4 text-center">
                        <p>Producto de
                            {{oferta.publicacion_ofertante.usuario.get_full_name}}:</p>
                        <p>{{ oferta.publicacion_ofertante.nombre }}</p>
                        <div class="embed-responsive embed-responsive-4by3 my-2">
                            <img src="{{ oferta.publicacion_ofertante.imagen.url}}" alt=""
                                class="img-fluid embed-responsive-item" style="width: 200px; height: 200px; object-fit: cover;">
                        </div>
                        <a href="{% url 'ver_publicacion' oferta.publicacion_ofertante.id %}"
                            class="btn btn-primary d-block">Ver publicacion</a>
                    </div>
                    <div class="col-md-4 text-center my-2">
                        {% if oferta.estado == 'ACEPTADA' %}
                        <p class="my-2 p-2" style="background-color: #f0f8ff">Intercambio el dia
                            {{ oferta.fecha_intercambio }} a las {{oferta.franja_horaria}}
                            en la filial {{ oferta.punto_encuentro }}. Te esperamos!!!</p>
                        {% else %}
                        <p class="my-2 p-2" style="background-color: #f0f8ff">Intercambio el dia
                            {{ oferta.fecha_intercambio }} a las {{oferta.franja_horaria}}
                            en la filial {{ oferta.punto_encuentro }}.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center">
                        <p>Producto de
                            {{oferta.publicacion_demandada.usuario.get_full_name}}:
                        </p>
                        <p>{{oferta.publicacion_demandada.nombre}}</p>
                        <div class="embed-responsive embed-responsive-4by3 my-2">
                            <img src="{{ oferta.publicacion_demandada.imagen.url}}" alt=""
                                class="img-fluid embed-responsive-item" style="width: 200px; height: 200px; object-fit: cover;">
                        </div>
                        <a href="{% url 'ver_publicacion' oferta.publicacion_demandada.id %}"
                            class="btn btn-primary d-block">Ver publicacion</a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                {% if user.isModerador %}
                    {% if oferta.estado == 'ACEPTADA' %}
                        <div class="d-flex align-items-center justify-content-center">
                            <form action="{% url 'confirmar_intercambio' oferta.id %}" method="post" class="mx-1 w-25">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Confirmar</button>
                            </form>
                            <form action="{% url 'desestimar_intercambio' oferta.id %}" method="post" class="w-50">
                                {% csrf_token %}
                                <div class="d-flex align-items-center justify-content-center">
                                    <button type="submit" class="btn btn-danger mx-1 w-50">Desestimar</button>
                                    <select name="motivo" id="motivo" class="form-control" onchange="toggleOtroCampo(this)">
                                        <option value="" selected disabled>-- Motivo --</option>
                                        {% for value, label in oferta.MOTIVOS_DESESTIMACION %}
                                        <option value="{{ value }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="text" name="motivo_otro" id="motivo_otro" class="form-control mt-2" placeholder="Especifique el motivo" style="display:none;">
                                </div>
                            </form>
                            <script>
                                function toggleOtroCampo(select) {
                                    var otroCampo = document.getElementById('motivo_otro');
                                    if (select.value === 'Otro') {
                                        otroCampo.style.display = 'block';
                                    } else {
                                        otroCampo.style.display = 'none';
                                    }
                                }
                            </script>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
    {% else %}
    <p style="font-size: 1.2rem; color: #555; text-align: center; margin-top: 20px;">No hay intercambios para mostrar.</p>
    {% endif %}
</ul>
</div>
{% endblock %}