{% extends 'layouts/base.html' %}
{% block title %}Publicación{% endblock %}
{% block content %}
{% include 'layouts/navbar.html' %}

<div class="d-flex justify-content-center align-items-center flex-grow-1">
    <div class="row">
        <!-- Parte izquierda -->
        <div class="col-md-6">
            <h1>{{ publicacion.nombre }}</h1>
            <p>{{ publicacion.descripcion }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><u>Categoría</u>: {{ publicacion.categoria }}</li>
                <li class="list-group-item"><u>Estado</u>: {{ publicacion.estado }}</li>
                <li class="list-group-item"><u>Punto de encuentro</u>: {{ publicacion.punto_encuentro }}</li>
                <li class="list-group-item"><u>Real Dueño</u>: id:{{publicacion.usuario}}, nomyap:{{publicacion.usuario.get_full_name}}</li>
            </ul>
            <a href="{% url 'home' %}" class="btn btn-primary">Volver al menu</a>
            <a href="#" class="btn btn-primary">Intercambiar</a>
        </div>
        <!-- Parte derecha -->
        <div class="col-md-6">
            <img src="{{ publicacion.imagen.url }}" class="img-fluid" alt="Imagen de la publicación"
                style="width: 860px; height: 640px; object-fit: cover;">
        </div>
    </div>
</div>
{% endblock %}