{% extends 'layouts/base.html' %}
<!-- esto es para que se herede la estructura html y estilos del archivo base -->
{% block content %}
{% include 'layouts/navbar.html' %}
<!-- esto es para que se vea el navbar  -->

<p>{{aviso}}</p> <!-- esto es para avisar que abriste o cerraste sesion -->
<h1 class="d-flex justify-content-center align-items-center"> Bienvendo a Intercambios Caritas</h1>
<div class="row">
    <div class="col-md-3">
        <h2>Filtros</h2>
        <form action="/filtrar" method="post">
            {% csrf_token %}
            <label for="ropa">Ropa.</label>
            <input type="checkbox" id="ropa" name="ropa" value="Ropa">
            <br>
            <label for="alimentos">Alimentos.</label>
            <input type="checkbox" id="alimentos" name="alimentos" value="Alimentos">
            <br>
            <label for="utiles">Útiles escolares.</label>
            <input type="checkbox" id="utiles" name="utiles" value="Utiles">
            <br>
            <label for="limpieza">Artíc. de limpieza.</label>
            <input type="checkbox" id="limpieza" name="limpieza" value="Limpieza">
            <br>
            <button type="submit">Actualizar</button>
        </form>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% for publicacion in publicaciones %}
            <div class="col-md-4">
                <div class="card">
                    <div class="ratio ratio-4x3">
                        <img src="{{ publicacion.imagen.url }}" class="card-img-top" style="object-fit: cover;"
                            alt="Imagen de la publicación">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ publicacion.nombre }}</h5>
                        <p class="card-text">{{ publicacion.descripcion }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><u>Categoría</u>: {{ publicacion.categoria }}</li>
                        <li class="list-group-item"><u>Estado</u>: {{ publicacion.estado }}</li>
                        <li class="list-group-item"><u>Punto de encuentro</u>: {{ publicacion.punto_encuentro }}</li>
                        <!-- <li class="list-group-item"><u>Dueño</u>: {{ publicacion.usuario_nombre }}</li> esto lo pondria en ver publicacion-->
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary d-block mb-2">Ver publicacion</a>
                        <a href="#" class="btn btn-primary d-block">Intercambiar</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}