{% extends 'authentication/layouts/navbar.html' %}
{% block content %}

<p>{{aviso}}</p><!-- esto es para avisar que abriste o cerraste sesion, borre lo de los mensajes -->
<h1>PAGINA PRINCIPAL</h1> <!-- TODO: cambiar el nombre de esta pagina a index.html? -->
<h2>Lista de Publicaciones</h2>
    <ul>
        {% for publicacion in publicaciones %}
            <li>
                <h2>{{ publicacion.nombre }}</h2>
                <p>Categoría: {{ publicacion.categoria }}</p>
                <p>Descripción: {{ publicacion.descripcion }}</p>
                <p>Imagen: <img src="{{ publicacion.imagen.url }}" alt="Imagen de la publicación"></p>
                <p>Estado: {{ publicacion.estado }}</p>
                <p>Punto de encuentro: {{ publicacion.punto_encuentro }}</p>
                <!-- Agrega más campos según tus necesidades -->
            </li>
        {% endfor %}
    </ul>
{% endblock %}