{% extends 'layouts/base.html' %}
<!-- esto es para que se herede la estructura html y estilos del archivo base -->
{% block title %}Login{% endblock %}
<!-- titulo personalizado -->

{% block content %}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <div class="text-center">
                <h1>Intercambios Cáritas</h1>
                <h2>Inicio de sesión</h2>
            </div>
            <form action="/login" method="post">
                {% csrf_token %}
                <div class="m-2">
                    <label for="dni" class="form-label">DNI</label>
                    <input type="number" id="dni" name="dni" value="{{ d }}" class="form-control"
                        placeholder="Ingrese su DNI" required>
                </div>
                <div class="m-2">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Ingrese su contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block m-2">Confirmar</button>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show m-2 p-1" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close m-0 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </form>
            <div class="text-center m-2">
                <a href="{% url 'reset_password' %}">¿Olvidaste tu contraseña?</a><br>
                <a href="{% url 'register' %}">¿Nuevo en el sistema?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}