<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiero registrarme</title>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %} 

    <h1>Intercambios Cáritas</h1>
    <h2>Registro</h2>
    <form action="/login" method="post">
    {% csrf_token %}
        <label for="">DNI</label>
        <input type="text" id="dni" name="dni" placeholder="Ingrese su DNI" required>
        <br>
        <label for="">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
        <br>
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>