{% extends 'authentication/layouts/navbar.html' %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Intercambios Caritas</title>
    </head>

    <body>
        {% block content %}
        <h3> Contraseña restablecida con éxito! </h3>
        <p> Felicitaciones, tu contraseña se ha restablecido exitosamente! Puedes continuar e iniciar sesión ahora!
        </p>
        <a href="/"> Iniciar Sesion </a>
        {% endblock %}
    </body>

</html>
