{% extends 'authentication/layouts/navbar.html' %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Intercambios Caritas</title>
    </head>

    <body>
        {% block content %}
        <h3> Restablecimiento de Contraseña </h3>
        <p> Por favor, ingresa tu nueva contraseña dos veces, así podemos asegurar que la has ingresado correctamente.
        </p>
        <form method='post'>
            {% csrf_token %}
            {{form}}
            <input type="Submit" name="Update Password">
        </form>
        {% endblock %}
    </body>

</html>