{% extends 'layouts/base.html' %}
<!-- esto es para que se herede la estructura html y estilos del archivo base -->
{% block title %}Restablecer Contraseña{% endblock %}
<!-- titulo personalizado -->

{% block content %}
{% include 'layouts/navbar.html' %}
<h3> Restablecimiento de Contraseña </h3>
<p> Por favor, ingresa tu nueva contraseña dos veces, así podemos asegurar que la has ingresado correctamente.
</p>
<form method='post'>
    {% csrf_token %}
    {{form}}
    <input type="Submit" name="Update Password">
</form>
{% endblock %}