{% extends 'authentication/layouts/navbar.html' %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Intercambios Caritas</title>
    </head>

    <body>
        {% block content %}
        <h3> Recuperar Contraseña </h3>
        <p> Ups! Olvidaste tu contraseña?<br> 
            Ingresa debajo el mail con el cual te registraste, y sigue los pasos para su recuperación! 
        </p>
        <form method='post'>
            {% csrf_token %}
            {{form}}
            <input type="Submit" name="Send Email">
        
        {% endblock %}
    </body>

</html>

