{% extends 'authentication/layouts/navbar.html' %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Intercambios Caritas</title>
    </head>

    <body>
        {% block content %}
        <h3> Link de recuperación enviado </h3>
        <p> Buenas noticias! Te hemos enviado un correo electrónico con instrucciones para recuperar tu contraseña. Si existe una cuenta que coincida con los datos que ingresaste, 
            recibirás un correo a la brevedad! 😉
        </p>
        <p>
            Si no recibes el correo, por favor revisa si el mail que has especificado es el mismo que utilizaste para el registro en Intercambios Cáritas, o bien que no haya
            llegado a correos no deseados!
        </p>
        {% endblock %}
    </body>

</html>
