{% extends 'layouts/base.html' %}
{% block title %}Quienes Somos{% endblock %}
{% block content %}
{% include 'layouts/navbar.html' %}
<h1 class="text-center custom-h1-bg mb-2">Quienes somos:</h1>
<div class="card mb-3" style="width: 100%;">
  <div class="row g-0">
      <div class="col-md-7">
          <div class="card-body">
              <div class="">
                <h2 class="mb-3">Intercambios Cáritas</h2>
                <p class="mb-3">Somos una organización sin fines de lucro que busca fomentar la economía circular y la solidaridad
                  entre
                  las personas. Nuestro objetivo es que puedas intercambiar productos que ya no uses por otros que te
                  interesen, sin necesidad de gastar dinero. De esta forma, contribuimos a la reducción de la basura y
                  promovemos el consumo responsable. Hagamos que la solidaridad sea la moneda de cambio. ¡Únete a nuestra comunidad!</p>
                  <h3 class="mb-3">Filiales disponibles para intercambiar:</h3>
                  {% if filiales %}
                    {% for filial in filiales %}
                    <div class="card mb-2">
                      <div class="card-body">
                        <h5 class="card-title mb-3">🏠 {{ filial.nombre }}</h5>
                        <p class="card-text">Direccion: {{ filial.direccion }}</p>
                        {% comment %} <p class="card-text">{{ filial.horario }}</p> {% endcomment %}
                      </div>
                    </div>
                    {% endfor %}
                  {% else %}
                    <p>No hay filiales disponibles actualmente.</p>
                  {% endif %}
              </div>
          </div>
      </div>
      <div class="col-md-5 item-photo rounded" style="box-shadow: 0 4px 8px rgba(0,0,0,0.1); overflow: hidden; justify-content: center; align-items: center;">
          <img style="width: 100%; height: auto; max-height: 100%;" src="\static\logosCaritas\caritas_logo1.png" alt="Imagen de la publicación">
      </div>
  </div>
</div>
{% endblock %}