{% extends 'layouts/base.html' %}
<!-- esto es para que se herede la estructura html y estilos del archivo base -->
{% block title %}Quienes Somos{% endblock %}
<!-- titulo personalizado -->

{% block content %}

<!-- esto es para que se vea el navbar  -->

<section class="min-vh-100 d-flex flex-column">
    {% include 'layouts/navbar.html' %}
    <div class="d-flex justify-content-center align-items-center mt-auto mb-auto">
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <div class="text-center">
                    <h1>Intercambios Cáritas</h1>
                    <h2>Quienes Somos</h2>
                </div>
                <p class="card-text">
                    Somos una organización sin fines de lucro que busca fomentar la economía circular y la solidaridad
                    entre
                    las personas. Nuestro objetivo es que puedas intercambiar productos que ya no uses por otros que te
                    interesen, sin necesidad de gastar dinero. De esta forma, contribuimos a la reducción de la basura y
                    promovemos el consumo responsable. ¡Únete a nuestra comunidad! </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}