<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Intercambios Caritas</title>
</head>

<body>
    <p>{{error}}</p>

    <h1>Intercambios Cáritas Registro</h1>
    <form action="/register" method="post">
        {% csrf_token %}
        <label for="">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="{{ n }}" placeholder="Ingrese su nombre" required>
        <br>
        <label for="">Apellido</label>
        <input type="text" id="apellido" name="apellido" value="{{ a }}" placeholder="Ingrese su apellido" required>
        <br>
        <label for="">DNI</label>
        <input type="text" id="dni" name="dni" value="{{ d }}" placeholder="Ingrese su DNI (8 dígitos)" required>
        <br>
        <label for="">Telefono</label>
        <input type="text" id="telefono" name="telefono" value="{{ t }}" placeholder="Ingrese su número de telefono"
            required>
        <br>
        <label for="">Direccion</label>
        <input type="text" id="direccion" name="direccion" value="{{ d }}" placeholder="Ingrese su direccion" required>
        <br>
        <label for="">Nacimiento</label>
        <input type="date" id="nacimiento" name="nacimiento" value="{{ nac }}"
            placeholder="Ingrese su fecha de nacimiento" required>
        <br>
        <label for="">Mail</label>
        <input type="email" id="mail" name="mail" value="{{ e }}" placeholder="Ingrese su mail" required>
        <br>
        <label for="">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña (8 caracteres)"
            required>
        <br>
        <button type="submit">Confirmar</button>
    </form>
</body>

</html>